.gallery-container {
  padding: 40px 0px;
}

.gallery-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.gallery-images {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-img-card.card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.gallery-image-title {
  font-weight: bold;
}

img.gallery-image {
  width: 250px;
}

.upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.uploaded-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-row.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}

.upload-drag-drop {
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row.row .btn.btn-primary {
  width: 200px;
}

.file-input-label {
  cursor: pointer;
  display: block;
  margin-top: 10px;
  background: #0d6efd;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.analyze-row.row {
  gap: 20px;
}

.analyze-left {
  width: auto !important;
}

.analyze-right.col {
  display: flex;
  flex-direction: column;
}

.image-data.row {
  display: flex;
  gap: 0px;
  margin-top: 10px;
}

.image-label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-labels-left.image-labels.col {
  padding-right: 20px;
  border-right: 1px solid black;
}

.img-lbl-title {
  font-size: 18px;
  font-weight: 600;
}
